{% extends 'admin/base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}

    {{ include('admin/modals/confirm_delete.twig.html') }}

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5>Users</h5>
                </div>
                <div class="card-body px-0">
                    <table class="table table-middle table-material rt-md">
                        <thead class="rt-table-hide">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                <i class="material-icons">person</i> Username
                            </th>
                            <th>
                                <i class="material-icons">email</i> Email
                            </th>
                            <th>
                                <i class="material-icons">group</i> Role
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr>
                                <td class="rt-header">
                                    {{ item.id }}
                                </td>

                                <td>
                                    {{ item.username }}
                                </td>
                                <td>
                                    {{ item.email }}
                                </td>
                                <td>
                                    {{ item.role|trans }}
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-danger btn-sm" data-href="{{ path('user-delete', {'id': item.id}) }}" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-xl-4">
            <div class="card actions">
                <div class="card-header">
                    <h5>Actions</h5>
                </div>
                <div class="card-footer">
                    <a href="{{ path('user-add') }}" class="btn btn-success"><i class="material-icons">person_add</i> Add User</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}