{% extends 'base.html.twig' %}

{% block body %}
    <div class="pt-14 pb-14 page-content">
        <div class="container ">

            <div class="card d-block mx-auto" style="width:28rem;">
                <div class="card-header py-3  d-flex justify-content-between align-items-center" style="border-bottom: 1px solid #eee;">
                    <h5>Registracija</h5>
                    <div class="media-box media-box-sm bg-primary text-white" style="">
                        <i class="material-icons">all_inclusive</i>
                    </div>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}


                        <div class="form-group mb-4 mt-2">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="form-group mb-4 mt-2">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="form-group mb-4">
                            {{ form_label(form.plainPassword) }}
                            {{ form_widget(form.plainPassword) }}
                        </div>
                        <div class="py-1">
                            <button type="submit" class="btn btn-primary btn-block ">Registracija</button>
                        </div>

                        {#<div class="py-0 mt-3 d-flex justify-content-around">#}
                            {#<button class="btn btn-flat-info"><i class="fa fa-twitter"></i></button>#}
                            {#<button class="btn btn-flat-danger"><i class="fa fa-google"></i></button>#}
                            {#<button class="btn btn-flat-primary"><i class="fa fa-facebook"></i></button>#}
                            {#<button class="btn btn-flat-warning"><i class="fa fa-stack-overflow"></i></button>#}
                        {#</div>#}

                    {{ form_end(form) }}
                </div>
</div>



</div>
</div>

{% endblock %}
