{% extends 'admin/base.html.twig' %}

{% block title %}Newsletter list{% endblock %}

{% block body %}

    {{ include('admin/modals/confirm_delete.twig.html') }}

    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <h5>Newsletter list</h5>
                </div>
                <div class="card-body px-0">
                    <table class="table table-middle table-material rt-md">
                        <thead class="rt-table-hide">
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                <i class="material-icons">email</i> Email
                            </th>
                            <th>
                                IP
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                             <tr>
                                <td class="rt-header">
                                    {{ item.id }}
                                </td>
                                <td>
                                    <span class="text-info">{{ item.email }}</span>
                                </td>
                                <td>
                                    {{ item.ipAddress }}
                                </td>
                                <td>
                                    {{ item.created|date('Y-m-d H:i') }}
                                </td>
                                <td>
                                    <a href="javascript:;" class="btn btn-danger btn-sm" data-href="{{ path('newsletter-delete', {'id': item.id}) }}" data-toggle="modal" data-target="#confirm-delete">Delete</a>
                                </td>
                             </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}