<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono%7CArvo:400%7CRoboto:300,400,500,700%7CCookie" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendor/perfect-scrollbar.css">

    <link rel="stylesheet" href="/css/simplify.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>EGariunai - Gariūnų prekyba internetu</title>

    <meta property="og:title" content="EGariunai - Gariūnų prekyba internetu" />
    <meta property="og:description" content="EGariunai - tai didžiausias internetinis turgus regione. Prekės mažiausiomis kainomis!" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123890757-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-123890757-1');
    </script>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=1931914303696950&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</head>
<body>

<div class="website" id="fullpage">
    <div class="bg-gradient">
        <div class="topbar-container">
            <nav class="navbar navbar-expand-lg border-bottom-0 navbar-dark py-1">
                <div class="container">
                    <a class="navbar-brand" href="{{ path('homepage') }}" style="font-size: 1.5rem;">eGariunai.lt</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {{ include('logged_header_menu.html.twig') }}
                    {% else %}
                        <ul class="navbar-nav ml-auto py-3">
                            <li class="nav-item mr-4">
                                <a class="btn btn-sm btn-success" href="{{ path('login_form') }}">Prisijungti</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-sm btn-primary" href="{{ path('register_form') }}">Registracija</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>

            </nav>

        </div>
        {% if app.request.get('_route') == 'homepage' %}
            <div class="pt-10 border-bottom">
                <div class="text-center mt-8 mb-10">
                    <h2 class="mb-4">
                        <span class="d-none d-md-inline">Neeužilgo gariūnų prekyba internetu</span>
                    </h2>
                    <h4 class="text-secondary font-weight-light mb-6">
                        Nepraleiskite artimiausias naujienas!
                    </h4>

                    {% if not app.session.get('newsletter') %}
                        {{ form_start(newsletter) }}
                        <div class="py-2 text-center" style="max-width: 350px; margin: 30px auto 60px;">
                            <div class="input-group mb-3">

                                {{ form_widget(newsletter.email) }}
                                <div class="input-group-append">
                                    <button class="btn btn-warning" type="submit">Sutinku</button>
                                </div>
                            </div>

                            {{ form_errors(newsletter.email) }}
                        </div>
                        {{ form_end(newsletter) }}

                    {% endif %}

                </div>
            </div>
        {% endif %}

    </div>


    <div class="container ">
        {{ include('notifications.html.twig') }}
    </div>

    {{ block('body') }}

    <div class="py-6 bg-gradient border-top">

        <div class="text-center">

                     <div style="margin: 0 auto 40px;">
                         <div class="fb-page" data-href="https://www.facebook.com/egariunai.lt" data-height="250" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/egariunai.lt" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/egariunai.lt">Egariunai - Gariunu Elektronine Parduotuve</a></blockquote></div>
                     </div>
            <h5 class="mb-0 text-secondary">Copyright egariunai.lt</h5>
        </div>
    </div>
</div>

<script src="/vendor/jquery.min.js"></script>
<script src="/vendor/popper.min.js"></script>
<script src="/vendor/bootstrap.min.js"></script>
<script src="/vendor/perfect-scrollbar.min.js"></script>


</body>
</html>
